html, body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#color {
    color:#ffa4d0;
}
    .form {
        background-color: coral;
        filter: drop-shadow(0 0 0.6rem #e7e7e7);
        border-radius: 20px;
        padding-top: 20px;
        width: 1136px;
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        padding-bottom: 20px;
    }
    .collapse {
        background-color: coral;
        padding-top: 20px;
        width: 1136px;
        display: block;
        margin: 0 auto;
        margin-top: 50px;
        padding-bottom: 20px;
        display: none;
        border-radius: 12px
    }
    .num {
        display: inline-block;
        background-color: #fff;
        border-radius: 50%;
        margin-right: 20px;
        font-size: 30px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
    }
    h2 {
        color: black;
        font-size: 30px
    }
    .title {
        height: 60px;
        line-height: 60px;
        margin-right: 50px;
        color:rgb(0, 0, 0);
    }
    #submit {
        border-radius: 8px;
        background-color:#fff;
        color:rgb(0, 0, 0);
        border: none;
        width: 250px;
        height: 40px;
        font-size: 20px;
        margin: 0 auto;

    }
    #submit:hover {
        background-color:#e3e3e3
    }
    #edit {
        border-radius: 8px;
        background-color:#fff;
        color:rgb(0, 0, 0);
        border: none;
        width: 250px;
        height: 40px;
        font-size: 20px;
    }
    #edit:hover {
        background-color:#e3e3e3
    }
    .editbtn {
        width: 250px;
        margin: 0 auto
    }
    .submitbtn {
        width: 250px;
        margin: 0 auto
    }
    td {
        padding-top: 30px;
    }
    .ingredients {
        font-size: 20px;
    }
    h1 {
        text-align: center;
        font-size: 35px;
        margin-top: 50px
    }
    #mealtype {
        color:rgb(0, 0, 0);
        height: 30px;
        width: 100px;
        font-size: 15px;
        text-align: center
    }
    #nutrition {
        color:rgb(0, 0, 0);
        height: 30px;
        width: 100px;
        font-size: 15px;
        text-align: center
    }
    input[type="number"] {
        color:black;
        height: 30px;
        width: 100px;
        font-size: 15px;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    table {
        margin: 0 auto
    }

    input[type="button"] {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    select {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    

    #listofingred, #allergies, #diet {
        color: rgb(0, 0, 0);
        font-size: 18px;
        line-height: 27px;
    }
    #diet, #allergies {
        text-align: left;
        padding-left: 0px
    }
    #recipeTitle {
        text-align: center;
        font-size: 27px;
        color:black;
    }
    #recipes {
        display: block;
        width: 1136px;
        margin: 0 auto;
        text-align: center;
        font-size: 18px;
        margin-top: 30px;
        color: black;
    }
    #recipeList {
        text-align:left;
        width: 548px;
        padding-right: 20px;
        float: right;
        list-style-type:circle;
        line-height: 27px;
        margin-top: 0px;
        padding-top: 0px;
    }
    #recipeImage {
        text-align: right;
        width: 548px;
        padding-bottom: 20px;
    }
    #recipeListItem {
        display: inline-block;
        width: 1136px;
        background-color:#fff;
        filter: drop-shadow(0 0 0.6rem #e7e7e7);
        border-radius: 20px;
        margin-bottom: 30px;
        padding-bottom: 30px;
    }

    .tdTitle {
        vertical-align: top;
    }

    #recipeLink {
        color:black;
        text-decoration: none;
    }





    /* header */
.prof-header {
    width: 630px;
    height: 300px;
    background-color: white;
    align-items: center;    
    z-index: 2;
    filter: drop-shadow(0 0 0.6rem #e7e7e7);
    position: relative;
    top: 100px;
    border-radius: 20px;
}

#prof-header-bg {
    background-color: #f9d00f;
    height: 300px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 175px
}

#prof-header-text-box {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-align: center
}

p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px
}

#linkDiv {
    background-color: coral;
    width: 175px;
    height: 35px;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    line-height: 35px
}

#linkDiv:hover{
    background-color:#f9d149;
}




    @media (max-width: 1380px) { .form {width: 1180px} .collapse {width: 1180px} }
    @media (max-width: 1380px) { #recipes {width: 1180px} #recipeListItem {width: 1180px} }
    @media (max-width: 1380px) { #recipeList { width: 570px} #recipeImage {width: 570} #recImg {width: 570}}

    @media (max-width: 1280px) { .form {width: 1080px} .collapse {width: 1080px} }
    @media (max-width: 1280px) { #recipes {width: 1080px} #recipeListItem {width: 1080px} }
    @media (max-width: 1280px) { #recipeList { width: 520px} #recipeImage {width: 520} #recImg {width: 520}}

    @media (max-width: 1180px) { .form {width: 980px} .collapse {width: 980px} }
    @media (max-width: 1180px) { #recipes {width: 980px} #recipeListItem {width: 980px} }
    @media (max-width: 1180px) { #recipeList { width: 470px} #recipeImage {width: 470} #recImg {width: 470} }
    @media (max-width: 1180px) { h2 { font-size: 25px} .title {margin-right: 5px; font-size: 25px}}

    @media (max-width: 1080px) { .form {width: 880px} .collapse {width: 880px}}
    @media (max-width: 1080px) { #recipes {width: 880px} #recipeListItem {width: 880px}}
    @media (max-width: 1080px) { #recipeList { width: 420px} #recipeImage {width: 420} #recImg {width: 420}}
    @media (max-width: 1080px) { #listofingred, #allergies, #diet {font-size: 15px} .num {width: 50px; height: 50px; font-size: 25px; line-height: 50px}}
    @media (max-width: 1080px) { h2 { font-size: 20px} }

    @media (max-width: 930px) { .form {width: 780px} .collapse {width: 780px} }
    @media (max-width: 930px) { #recipes {width: 780px} #recipeListItem {width: 780px} }
    @media (max-width: 930px) { #recipeList { width: 370px} #recipeImage {width: 370} #recImg {width: 370}}
    @media (max-width: 930px) { #listofingred, #allergies, #diet {font-size: 12px} .num {width: 40px; height: 40px; font-size: 20px; line-height: 40px} }
    @media (max-width: 930px) { #mealtype {width: 80px; font-size: 12px} #nutrition {width: 80px; font-size: 12px} input[type="number"] {width: 80px; font-size: 12px}}
    @media (max-width: 930px) { .title {margin-right: 0px} }

    @media (max-width: 820px) { .form {width: 680px} .collapse {width: 680px} }
    @media (max-width: 820px) { #recipes {width: 680px} #recipeListItem {width: 680px} }
    @media (max-width: 820px) { #recipeList { width: 320px} #recipeTitle {font-size: 22px} #recipeList {font-size: 15px} #recipeImage {width: 320} #recImg {width: 320}}
    @media (max-width: 820px) { #listofingred, #allergies, #diet {font-size: 10px} .num {width: 30px; height: 30px; font-size: 15px; line-height: 30px} }
    @media (max-width: 820px) { #mealtype {width: 60px;} #nutrition {width: 60px;} input[type="number"] {width: 60px;}}
    @media (max-width: 820px) { h2 { font-size: 18px } }

    @media (max-width: 720px) { .form {width: 580px} .collapse {width: 580px} .title {margin-right: 10px}}
    @media (max-width: 720px) { #recipes {width: 580px} #recipeListItem {width: 580px}  }
    @media (max-width: 720px) { #recipeList { width: 270px} #recipeImage {width: 270} #recImg {width: 270}}
    @media (max-width: 720px) { h2 { font-size: 15px} }

    @media(max-width: 690px) {
        .prof-header {
            width: 100%;
            filter: none;
            border-radius: 0px;
        }
        .form {
            width: 100%;
            border-radius: 0px;
        }
        .collapse {
            width: 100%;
            border-radius: 0px;
        }
        #recipes {
            width: 100%;
            border-radius: 0px
        }
        #recipeListItem {
            width: 100%;
            border-radius: 0px;
        }
        #prof-header-bg {
            height: 200px;
            margin-bottom: 200px
        }

    }

    @media (max-width: 620px) { #recipeList { width: 210px} #recipeTitle {font-size: 18px} #recipeList {font-size: 12px} #recipeImage {width: 210px} #recImg {width: 210px}}
    @media (max-width: 620px) { #listofingred, #allergies, #diet {font-size: 9px} .num {width: 20px; height: 20px; font-size: 12px; line-height: 20px} }
    @media (max-width: 620px) { #mealtype {width: 40px; font-size: 8px} #nutrition {width: 40px; font-size: 8px} input[type="number"] {width: 40px; font-size: 8px}}
    @media (max-width: 620px) { #submit {width: 175px; font-size: 15} #edit {width: 175px; font-size: 15} .editbtn {width: 175px; } .submitbtn {width: 175px} }


    @media (max-width: 490px) { #recipeList { width: 155px} #recipeTitle {font-size: 14px} #recipeList {font-size: 10px} #recipeImage {width: 155px} #recImg {width: 155px}}
    @media (max-width: 490px) { #listofingred, #allergies, #diet {font-size: 9px} .num {width: 10px; height: 10px; font-size: 8px; line-height: 10px} }
    @media (max-width: 490px) { #mealtype {width: 50px; font-size: 8px} #nutrition {width: 50px; font-size: 8px} input[type="number"] {width: 50px; font-size: 8px}}
    @media (max-width: 490px) { .editbtn {width: 100px; } .submitbtn { width: 100px; } #submit { width: 100px; font-size: 10px } #edit { width: 100px; font-size: 10px }}
    @media (max-width: 490px) { h2 { font-size: 12px} }

    @media (max-width: 490px) {.content {margin-top: 180px;} #prof-header-bg {height:300px;}}